.Header {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 50px;
    background-color: rgb(125, 125, 125);
}

.Header-Link {
    margin: auto;
    text-decoration: none;
    width: 33%;
    padding: 1% 0%;
    text-align: center;
    transition-duration: 0.5s;
    color: white;
}

.Header-Link:hover {
    background-color: rgb(100, 100, 100);
}